[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
vedo = "*"
numpy = "*"
dash = "*"
plotly = "*"
opencv-python = "*"
pyyaml = "*"
screeninfo = "*"
scipy = "*"
open3d = "*"
mypy = "*"
flags = "*"

[dev-packages]

[requires]
python_version = "3.10"
